{% extends 'base.html.twig' %}

{% block title %}Course index{% endblock %}

{% block body %}
    <div class="py-5 text-center">
        <h2 class="display-5"> Курсы </h2>
        <h3 class="text-muted">уровень сложности: {{ difficultyLevel}}</h3>
    </div>
    <li class="d-flex justify-content-between align-items-center">
        <div class="col-sm">
            <p>Название курса</p>
        </div>
        <div class="col-sm">
            <p>Уровень сложности</p>
        </div>
        <div class="col-sm">
            <p>Описание</p>
        </div>
        <div class="col">
            <div class="btn-group">
                <p>Действия</p>
            </div>
        </div>
    </li>
    {% for course in courses %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <div class="col-sm">
                {{ course.Name }}
            </div>
            <div class="col-sm">
                {{ course.difficultyLevel }}
            </div>
            <div class="col-sm">
                {{ course.description }}
            </div>
            <div class="col">
                <div class="btn-group">
                    <a type="button" class="btn btn-sm btn-outline-secondary"
                       href="{{ path('show_course', {'courseId': course.id}) }}">Показать</a>
                </div>
            </div>

        </li>
    {% else %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <p>курсы не найдены</p>
        </li>
    {% endfor %}
{% endblock %}