{% extends 'base.html.twig' %}

{% block title %}New Stage{% endblock %}

{% block body %}
    {% do form.lessonStage.setRendered() %}
    <div class="py-5 text-center">
        {# <img class="d-block mx-auto mb-4" src="#" alt="" width="72" height="72"> #}
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-easel"
             viewBox="0 0 16 16">
            <path d="M8 0a.5.5 0 0 1 .473.337L9.046 2H14a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1h-1.85l1.323 3.837a.5.5 0 1 1-.946.326L11.092 11H8.5v3a.5.5 0 0 1-1 0v-3H4.908l-1.435 4.163a.5.5 0 1 1-.946-.326L3.85 11H2a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1h4.954L7.527.337A.5.5 0 0 1 8 0zM2 3v7h12V3H2z"/>
        </svg>
        <h2>Добавьте эталонные рисунки!</h2>
        <p class="lead">Для того, чтобы ученик смог проверить свой рисунок, добавьте эталонный!</p>
    </div>
    <div class="row center">
        {{ include('reference/_form.html.twig') }}
        <div>
            <a type="button" class="btn btn-sm btn-outline-secondary"
               href="{{ path('stage_of_lesson',  {'id': stage.lesson.id}) }}">назад</a>
        </div>
    </div>
    <h2 class="fw-light">Эталонные рисунки этапа {{ stage.name }}</h2>
    <div class="album row bg-light">
        <div class="container">

            <div class="row m-5 py-5">
                {% for reference in stage.referenceImages %}
                    <div class="col-md-auto">
                        <div class="card mb-4 box-shadow" style="width: 226px; display: block;">
                            <img class="card-img-top" data-src="{{ asset('uploads/') ~ reference.drawingImage }}" style="width: 225px; display: block;" src="{{ asset('uploads/') ~ reference.drawingImage }}" data-holder-rendered="true">
                            <div class="card-body">
                                <p class="card-text">{{ reference.rule }}</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <span class="badge badge-pill">{{ include('reference/_delete_form.html.twig') }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}