{% extends 'base.html.twig' %}

{% block title %}Hello CourseLessonsController!{% endblock %}

{% block body %}
    <section class="text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Прохождение курса {{ course.name}}</h1>
        </div>
    </section>
    <div class="container bg-light">
        <ul class="list-group">
            {% for lesson in course.lessons %}
                <div>
                    <h3>{{ lesson.name }}</h3>
                    <p>Этапы:</p>
                    <ul class="list-group">
                        {% set i = 1 %}
                        {% for stage in lesson.lessonStages %}

                            <li class="list-group-item">
                                <p>Этап {{ i }} "{{ stage.name }}"</p>
                                <p>{{ stage.guidance }}</p>
                                <img data-src="{{ asset('uploads/exampleimagestages/') ~ stage.getExampleImageStage }}"
                                     style="display: block; width: 226px;"
                                     src="{{ asset('uploads/exampleimagestages/') ~ stage.getExampleImageStage }}"
                                     data-holder-rendered="true">
                                <div class="input-group">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="inputGroupFile01" accept="image/jpeg,image/png,image/jpg">
                                        <label class="custom-file-label" for="inputGroupFile01">Изображение рисунка для
                                            проверки</label>
                                    </div>
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" type="button">Проверить</button>
                                    </div>
                                </div>
                            </li>
                            {% set i = i+1 %}

                        {% endfor %}
                    </ul>
                </div>
            {% else %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                </li>
            {% endfor %}
        </ul>
        <a href="{{ path('grouped_by_difficulty', {'difficultyLevel': course.difficultyLevel}) }}">назад</a>
    </div>
{% endblock %}